<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zoo_App.Properties.Settings.ZooDBConnectionString"
            connectionString="Data Source=DESKTOP-IIVIGVM;Initial Catalog=ZooDB;Persist Security Info=True;User ID=sa;Password=janthony25;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>